<footer>
    <nav> 
        <a href="https://github.com/mtilahun-mt">GitHub</a> || 
        <a href="https://webpages.charlotte.edu/mtilahun">CLT Web</a> || 
        <a href="https://mtilahun-mt.github.io/index.html">GitHub.io</a> || 
        <a href="https://www.freecodecamp.org/musiet">JS Certificate</a> ||
        <a href="http://www.linkedin.com/in/musietilahun">LinkedIn</a>
    </nav>
    <p>Page built by <a href="https://mtilahun-mt.github.io/itis3135/index.html">Miraculous Turtle Designs.</a></p>
</footer>