<header>
    <h1>Musie Tilahun's Miraculous Turtle ~ ITIS 3135</h1>
    <nav class="primary-nav">
        <a href="https://mtilahun-mt.github.io/itis3135/index.html">Home</a> ‖
        <a href="https://mtilahun-mt.github.io/itis3135/survey.html">Survey</a> ‖
        <a href="https://mtilahun-mt.github.io/itis3135/gallery.html">Gallery</a> ‖
        <a href="https://mtilahun-mt.github.io/itis3135/inventory.html">Inventory</a> ‖
        <a href="https://mtilahun-mt.github.io/itis3135/instructions.html">Instructions</a> ‖
        <a href="https://mtilahun-mt.github.io/itis3135/highlight.html">Highlight</a>
    </nav>
    <nav class="secondary-nav">
        <a href="https://mtilahun-mt.github.io/introduction.html">Introduction</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/contract.html">Contract</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/hobby/index.html">Hobby</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/website_evaluations.html">Website Evaluations</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/musietilahundesigns.com/index.html">Design Firm</a>
    </nav>
</header>