<header id="header">
    <img id="header-img" src="https://mtilahun-mt.github.io/itis3135/images/turtle-logo.svg" alt="Miraculous Turtle logo" width="60" height="48">
    <h1>Musie Tilahun's Miraculous Turtle ~ ITIS 3135</h1>
    <nav id="nav-bar" class="primary-nav">
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/index.html">Home</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/contract.html">Contract</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/converter.html">Brew Guide Converter</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/machine.html">The Tea Drum</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/voting.html">Tea Blend Vote</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/bank.html">Tea Treasury</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/weather.html">Steep by the Weather</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/survey.html">Survey</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/cards.html">Cards</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/inventory.html">Inventory</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/documentation.html">Documentation</a> ‖
        <a class="nav-link" href="https://mtilahun-mt.github.io/itis3135/product.html">Product</a>
    </nav>
    <nav class="secondary-nav">
        <a href="https://mtilahun-mt.github.io/introduction.html">Introduction</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/hobby/index.html">Hobby</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/website_evaluations.html">Website Evaluations</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/musietilahundesigns.com/index.html">Design Firm</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/stuff/CraPp_y.htm">Crappy Page</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/project_overview.html">Project Overview</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/intro_form.html">Introduction Form</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/review1.html">Peer Review 1</a> |
        <a href="https://mtilahun-mt.github.io/itis3135/review2.html">Peer Review 2</a>
    </nav>
</header>
