<header>
    <h1>Musie Tilahun's Miraculous Turtle ~ ITIS 3135</h1>
    <nav>
        <a href="https://mtilahun-mt.github.io/itis3135/index.html">Home</a> ‖
        <a href="https://mtilahun-mt.github.io/introduction.html">Introduction</a> ‖
        <a href="https://mtilahun-mt.github.io/itis3135/contract.html">Contract</a> ‖
        <a href="https://mtilahun-mt.github.io/itis3135/hobby/index.html">Hobby</a> ‖
        <a href="https://mtilahun-mt.github.io/itis3135/website_evaluations.html">Website Evaluations</a> ‖
        <a href="https://mtilahun-mt.github.io/itis3135/musietilahundesigns.com/index.html">Design Firm</a>
    </nav>
</header>