
body {
    background-color: #f8f9fa;
    color: #212529;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Playfair Display', serif;
    color: #003366;                     
    margin-bottom: 20px;
    font-size: 2.5rem;
    border-bottom: 2px solid #003366;
}

h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #003366;
    margin-bottom: 20px;
}


main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}


p {
    text-align: left;
    margin-bottom: 15px;
}